<div  class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <img class="homeImg" src="../../assets/home.jpg" alt="background">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-res"></div>
          <mat-card-title>Restoran</mat-card-title>
          <mat-card-subtitle>Doručak, večera</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/restoran2.jpg" alt="Restoran">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis lacus ultricies scelerisque luctus.
            Ut lobortis molestie magna id tempor. Fusce vitae fringilla diam. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Praesent elementum ligula quis diam blandit consequat.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 col-sm-4 col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-acti"></div>
          <mat-card-title>Akticnosti</mat-card-title>
          <mat-card-subtitle>Svakodnevne</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/activitis.jpg" alt="Aktivnosti">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis lacus ultricies scelerisque luctus.
            Ut lobortis molestie magna id tempor. Fusce vitae fringilla diam. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Praesent elementum ligula quis diam blandit consequat.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 col-sm-4 col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-smj"></div>
          <mat-card-title>Smještaj</mat-card-title>
          <mat-card-subtitle>Classic, Standard, Superior</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/soba.jpg" alt="Restoran">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis lacus ultricies scelerisque luctus.
            Ut lobortis molestie magna id tempor. Fusce vitae fringilla diam. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Praesent elementum ligula quis diam blandit consequat.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-raised-button color="warn" routerLink="/booking">Rezerviraj smještaj</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-12 col-sm-12 col-12">

    </div>
  </div>
</div>
