<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-md-12">
      <h2>O Hotelu</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis lacus ultricies scelerisque luctus.
        Ut lobortis molestie magna id tempor. Fusce vitae fringilla diam. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Praesent elementum ligula quis diam blandit consequat.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>O Restoranu</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis lacus ultricies scelerisque luctus.
        Ut lobortis molestie magna id tempor. Fusce vitae fringilla diam. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Praesent elementum ligula quis diam blandit consequat.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>O Smještaju</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis lacus ultricies scelerisque luctus.
        Ut lobortis molestie magna id tempor. Fusce vitae fringilla diam. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Praesent elementum ligula quis diam blandit consequat.
      </p>
    </div>
  </div>

</div>
